@tailwind base;
@tailwind components;
@tailwind utilities;

.cell-animation {
    animation: revealCharCell linear;
    animation-duration: 0.15s;
}

@keyframes revealCharCell {
    0% {
        transform: rotateX(0);
        background: #fff;
        border-color: #333;
    }

    45% {
        transform: rotateX(90deg);
        background: white;
        border-color: #333;
    }

    55% {
        transform: rotateX(90deg);
        background: var(--background);
        border-color: var(--border-color);
    }

    100% {
        transform: rotateX(0deg);
        background: var(--background);
        border-color: var(--border-color);
        color: #eee;
    }
}